h1 {
    color:#49a1ca;
    text-align: center; 
    margin-top: 25px; 
}


.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}

.container-1 {
    background: linear-gradient(45deg, #EECFBA, #54c0f2) rgb(234, 182, 24);
    width: 30%;
    margin: 15px;
    position: relative;
    margin-top: 5px;
    vertical-align: top;
   
    
}


h2 {
    font-size: 20px;
    width: 80%;
    padding-left: 40px;
    position: relative;
    text-align: center;
}
p {
    font-size: 16px;
    width: 80%;
    color: rgb(94, 92, 92);
    padding-left: 40px;
    position: relative;
    text-align: left;
  
}

input {
    background-color: rgb(148, 207, 231);
    color:rgb(12, 148, 206);
    font-size: medium;
    border: 1px;
    width: 60%;
    padding: 15px;
    margin: 0 auto;
    display: block;
    margin-bottom: 40px;
    margin-top: 30px;
    
}



@media screen and (max-width: 450px) {
    
    .container-1 {
        width: 100%;

        
    }
}
